# Лабораторная работа №1: Pandas
6132 Курицын Никита

In [1]:
import pandas as pd

1. Считать в pandas.DataFrame любой источник данных: CSV, JSON, Excel-файл, HTML-таблицу и т.п. Также можно сконвертировать в DataFrame любой из встроенных датасетов sklearn.

In [2]:
data = pd.read_csv('star_classification.csv')# считываем с помощью метода read_csv и помещяем данные в data
type(data)

pandas.core.frame.DataFrame

2. Привести описание датасета.

In [3]:
description_list = [
"Object Identifier, the unique value that identifies the object in the image catalog used by the CAS",
 "Right Ascension angle (at J2000 epoch)",
 "Declination angle (at J2000 epoch)",
 "Ultraviolet filter in the photometric system",
 "Green filter in the photometric system",
 "Red filter in the photometric system",
 "Near Infrared filter in the photometric system",
 "Infrared filter in the photometric system",
 "Run Number used to identify the specific scan",
 "Rerun Number to specify how the image was processed",
 "Camera column to identify the scanline within the run",
 "Field number to identify each field",
 "Unique ID used for optical spectroscopic objects (this means that 2 different observations with the same spec_obj_ID must share the output class)",
 "object class (galaxy, star or quasar object)",
 "redshift value based on the increase in wavelength",
 "plate ID, identifies each plate in SDSS",
 "Modified Julian Date, used to indicate when a given piece of SDSS data was taken",
 "fiber ID that identifies the fiber that pointed the light at the focal plane in each observation"]


dtypes_column = data.dtypes
df_info = pd.DataFrame({'Тип': dtypes_column, 'Описание': description_list})
pd.set_option('display.max_colwidth', None)
df_info

,Тип,Описание
obj_ID,float64,"Object Identifier, the unique value that identifies the object in the image catalog used by the CAS"
alpha,float64,Right Ascension angle (at J2000 epoch)
delta,float64,Declination angle (at J2000 epoch)
u,float64,Ultraviolet filter in the photometric system
g,float64,Green filter in the photometric system
r,float64,Red filter in the photometric system
i,float64,Near Infrared filter in the photometric system
z,float64,Infrared filter in the photometric system
run_ID,int64,Run Number used to identify the specific scan
rerun_ID,int64,Rerun Number to specify how the image was processed
cam_col,int64,Camera column to identify the scanline within the run
field_ID,int64,Field number to identify each field
spec_obj_ID,float64,Unique ID used for optical spectroscopic objects (this means that 2 different observations with the same spec_obj_ID must share the output class)
class,object,"object class (galaxy, star or quasar object)"
redshift,float64,redshift value based on the increase in wavelength
plate,int64,"plate ID, identifies each plate in SDSS"
MJD,int64,"Modified Julian Date, used to indicate when a given piece of SDSS data was taken"
fiber_ID,int64,fiber ID that identifies the fiber that pointed the light at the focal plane in each observation

3. Выполнить над датафреймом следующие операции:

In [4]:
data.head(3)# выводим первые три строки

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299

In [5]:
data.describe()# получаем статическую информацию

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
count,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.0,100000.000000,100000.000000,1.000000e+05,100000.000000,100000.000000,100000.000000,100000.000000
mean,1.237665e+18,177.629117,24.135305,21.980468,20.531387,19.645762,19.084854,18.668810,4481.366060,301.0,3.511610,186.130520,5.783882e+18,0.576661,5137.009660,55588.647500,449.312740
std,8.438560e+12,96.502241,19.644665,31.769291,31.750292,1.854760,1.757895,31.728152,1964.764593,0.0,1.586912,149.011073,3.324016e+18,0.730707,2952.303351,1808.484233,272.498404
min,1.237646e+18,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,109.000000,301.0,1.000000,11.000000,2.995191e+17,-0.009971,266.000000,51608.000000,1.000000
25%,1.237659e+18,127.518222,5.146771,20.352353,18.965230,18.135828,17.732285,17.460677,3187.000000,301.0,2.000000,82.000000,2.844138e+18,0.054517,2526.000000,54234.000000,221.000000
50%,1.237663e+18,180.900700,23.645922,22.179135,21.099835,20.125290,19.405145,19.004595,4188.000000,301.0,4.000000,146.000000,5.614883e+18,0.424173,4987.000000,55868.500000,433.000000
75%,1.237668e+18,233.895005,39.901550,23.687440,22.123767,21.044785,20.396495,19.921120,5326.000000,301.0,5.000000,241.000000,8.332144e+18,0.704154,7400.250000,56777.000000,645.000000
max,1.237681e+18,359.999810,83.000519,32.781390,31.602240,29.571860,32.141470,29.383740,8162.000000,301.0,6.000000,989.000000,1.412694e+19,7.011245,12547.000000,58932.000000,1000.000000

In [6]:
data.loc[1,"alpha"]# выводим из первой строки значение столбца alpha

144.826100550256

In [7]:
data.iloc[:2]# выводим две строки

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427

In [8]:
data_filtered_alpha = data[data["alpha"]<140]# Фильтрация набора данных по alpha< 140.
print(f"Кол-во строк: {data_filtered_alpha.shape[0]}")
data_filtered_alpha.head(5)

Кол-во строк: 32212

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
6,1.237679e+18,23.234926,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,QSO,0.586455,11069,58456,113
7,1.237679e+18,5.433176,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,GALAXY,0.477009,6183,56210,15
9,1.237671e+18,39.149691,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,STAR,-0.000008,2444,54082,232
17,1.237679e+18,1.494389,3.291746,20.38562,20.40514,20.29996,20.05918,19.89044,7712,301,5,339,9.843824e+18,QSO,2.031528,8743,57663,295

In [9]:
update_data = data.dropna()# удаляем строки,где есть значения Nan
update_data

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

Работа с пропущенными значениями

In [10]:
import numpy as np
data_to_fill = data.iloc[:30] # Вырезаем значения 
data_to_fill.loc[5:11,"alpha"] =  np.nan # пробиваем куски
del data_to_fill["class"] # удаляем столбец целевого значения
data_to_fill.head(14)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,0.116123,6121,56187,842
5,1.237680e+18,NaN,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741
6,1.237679e+18,NaN,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,0.586455,11069,58456,113
7,1.237679e+18,NaN,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,0.477009,6183,56210,15
8,1.237661e+18,NaN,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719
9,1.237671e+18,NaN,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,-0.000008,2444,54082,232
10,1.237680e+18,NaN,18.220310,25.77163,22.52042,20.63884,19.78071,19.05765,8102,301,3,27,5.652162e+18,0.459596,5020,55852,525
11,1.237662e+18,NaN,25.738280,23.76761,23.79969,20.98318,19.80745,19.45579,3927,301,4,112,5.322364e+18,0.591409,4727,55693,855
12,1.237681e+18,345.801874,32.672868,23.17274,20.14496,19.41948,19.22034,18.89359,8157,301,2,38,7.323011e+18,0.000072,6504,56540,574
13,1.237679e+18,331.502030,10.035802,20.82940,18.75091,17.51118,17.01631,16.62772,7773,301,2,123,5.702738e+18,0.152194,5065,55739,200

In [11]:
data_to_fill = data_to_fill.fillna(data_to_fill.mean()) # заполняем куски
data_to_fill.head(14)

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,0.116123,6121,56187,842
5,1.237680e+18,210.722176,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741
6,1.237679e+18,210.722176,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,0.586455,11069,58456,113
7,1.237679e+18,210.722176,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,0.477009,6183,56210,15
8,1.237661e+18,210.722176,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719
9,1.237671e+18,210.722176,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,-0.000008,2444,54082,232
10,1.237680e+18,210.722176,18.220310,25.77163,22.52042,20.63884,19.78071,19.05765,8102,301,3,27,5.652162e+18,0.459596,5020,55852,525
11,1.237662e+18,210.722176,25.738280,23.76761,23.79969,20.98318,19.80745,19.45579,3927,301,4,112,5.322364e+18,0.591409,4727,55693,855
12,1.237681e+18,345.801874,32.672868,23.17274,20.14496,19.41948,19.22034,18.89359,8157,301,2,38,7.323011e+18,0.000072,6504,56540,574
13,1.237679e+18,331.502030,10.035802,20.82940,18.75091,17.51118,17.01631,16.62772,7773,301,2,123,5.702738e+18,0.152194,5065,55739,200

Создание нового поля, вычисленного на основе значений других полей

In [12]:
data_new = data.copy()
data_new ["new"] = data_new["cam_col"] + data_new["fiber_ID"]# складываем колонки cam_col и fiber_ID
data_new.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,new
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171,173
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427,432
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299,301
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775,778
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842,845

In [13]:
def calculate_new_value(element):# функция сложения cam_col и  fiber_ID
    return element['cam_col'] + element['fiber_ID']
    
data_new = data.copy()
data_new["new"] = data_new.apply(calculate_new_value, axis=1)
data_new.head()

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID,new
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171,173
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427,432
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299,301
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775,778
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842,845

Сортировка по какому-либо из полей

In [14]:
data.sort_values(by="alpha")# сортировка по alpha

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
3640,1.237680e+18,0.005528,21.711852,21.90328,21.19124,19.95100,19.21397,18.79450,8108,301,2,241,7.745188e+18,GALAXY,0.505886,6879,56539,445
67700,1.237663e+18,0.010959,28.333171,21.78283,21.44996,21.04804,20.78589,20.36245,4152,301,2,104,8.663950e+18,QSO,1.498306,7695,57654,546
68993,1.237679e+18,0.011684,24.097008,21.77427,21.97027,20.05916,19.08983,18.57067,7708,301,2,205,7.333043e+18,GALAXY,0.501279,6513,56543,207
2513,1.237679e+18,0.013337,1.504967,20.67661,20.51553,20.51491,20.34745,20.33714,7712,301,1,329,8.840673e+18,QSO,1.695679,7852,56987,390
24922,1.237679e+18,0.022966,-2.080466,21.49567,19.81744,18.18904,17.58150,17.17961,7778,301,4,317,4.902363e+18,GALAXY,0.311828,4354,55810,708
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,1.237679e+18,NaN,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,GALAXY,0.477009,6183,56210,15
8,1.237661e+18,NaN,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,GALAXY,0.660012,6625,56386,719
9,1.237671e+18,NaN,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,STAR,-0.000008,2444,54082,232
10,1.237680e+18,NaN,18.220310,25.77163,22.52042,20.63884,19.78071,19.05765,8102,301,3,27,5.652162e+18,GALAXY,0.459596,5020,55852,525
11,1.237662e+18,NaN,25.738280,23.76761,23.79969,20.98318,19.80745,19.45579,3927,301,4,112,5.322364e+18,GALAXY,0.591409,4727,55693,855

In [15]:
stats = data.agg({
    'alpha': ['mean', 'std'],  # Среднее и стандартное отклонение для столбца 'column1'
    'delta': ['min'],      # Минимум столбца 'column2'
})
stats

           alpha      delta
mean  177.629739        NaN
std    96.499043        NaN
min          NaN -18.785328

In [16]:
data['alpha'].value_counts()

alpha
34.749600     2
135.689107    1
198.825326    1
122.736311    1
29.030623     1
             ..
172.391156    1
221.728867    1
214.265384    1
212.797095    1
196.896053    1
Name: count, Length: 99992, dtype: int64

In [19]:
data['alpha'].unique()# уникаланые значения

array([135.6891066 , 144.82610055, 142.18878956, ..., 224.58740744,
       212.26862112, 196.89605297])

In [20]:
data.reset_index(drop=True)# сбрасываем индекс

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1.237679e+18,39.620709,-2.594074,22.16759,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
99996,1.237679e+18,29.493819,19.798874,22.69118,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
99997,1.237668e+18,224.587407,15.700707,21.16916,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
99998,1.237661e+18,212.268621,46.660365,25.35039,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
99999,1.237661e+18,196.896053,49.464643,22.62171,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

In [21]:
data.set_index('u')# задаем индекс по u

,obj_ID,alpha,delta,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
u,,,,,,,,,,,,,,,,,
23.87882,1.237661e+18,135.689107,32.494632,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
24.77759,1.237665e+18,144.826101,31.274185,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
25.26307,1.237661e+18,142.188790,35.582444,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
22.13682,1.237663e+18,338.741038,-0.402828,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
19.43718,1.237680e+18,345.282593,21.183866,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22.16759,1.237679e+18,39.620709,-2.594074,22.97586,21.90404,21.30548,20.73569,7778,301,2,581,1.055431e+19,GALAXY,0.000000,9374,57749,438
22.69118,1.237679e+18,29.493819,19.798874,22.38628,20.45003,19.75759,19.41526,7917,301,1,289,8.586351e+18,GALAXY,0.404895,7626,56934,866
21.16916,1.237668e+18,224.587407,15.700707,19.26997,18.20428,17.69034,17.35221,5314,301,4,308,3.112008e+18,GALAXY,0.143366,2764,54535,74
25.35039,1.237661e+18,212.268621,46.660365,21.63757,19.91386,19.07254,18.62482,3650,301,4,131,7.601080e+18,GALAXY,0.455040,6751,56368,470
22.62171,1.237661e+18,196.896053,49.464643,21.79745,20.60115,20.00959,19.28075,3650,301,4,60,8.343152e+18,GALAXY,0.542944,7410,57104,851

4. Продемонстрировать работу .groupby, на основе группировок в groupby вычислить агрегатные функции по одной или нескольким колонкам.

In [23]:
data.groupby("class")["cam_col"].count()# считаем кол-во cam_col по классам

class
GALAXY    59445
QSO       18961
STAR      21594
Name: cam_col, dtype: int64

5. Решейпинг данных $1D\rightarrow2D$ с использованием `.pivot` (можно подать на вход результаты агрегатов, полученных ранее с использованием `.groupby` (сгруппировать по двум полям).

In [65]:
result = data.groupby("class")["cam_col"].count()# # Группируем данные по столбцу "class" и подсчитываем количество значений в столбце "cam_col" для каждой группы
result = result.reset_index()# Сбрасываем индекс
result = result.rename(columns={'cam_col': 'count_cam_col'})# Переименовываем столбец с количеством значений
pivot_df = result.pivot(index='class', columns='count_cam_col', values='count_cam_col')
pivot_df

count_cam_col    18961    21594    59445
class
GALAXY             NaN      NaN  59445.0
QSO            18961.0      NaN      NaN
STAR               NaN  21594.0      NaN

6. Решейпинг $1D\rightarrow2D$ данных, соединённых с группировкой / агрегацией (одним словом - сводная таблица): `.pivot_table`. Группировать только по категориальным полям или числовым, если значений немного.

In [24]:
data.pivot_table(index='class', columns='field_ID', values='cam_col', aggfunc='count')

field_ID,11,12,13,14,15,16,17,18,19,20,...,940,941,971,974,977,978,979,980,982,989
class,,,,,,,,,,,,,,,,,,,,,
GALAXY,92.0,93.0,100.0,103.0,106.0,106.0,125.0,138.0,140.0,127.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
QSO,30.0,21.0,28.0,31.0,21.0,49.0,36.0,43.0,45.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
STAR,35.0,32.0,27.0,48.0,35.0,50.0,44.0,54.0,51.0,55.0,...,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,3.0

7. Вычислить квантили распределения какого-либо вещественного признака (с использованием numpy.quantile или numpy.percentile).

In [25]:
g_column = data["g"]# Извлекаем столбец "g"
q1 = np.percentile(g_column, 25)# Вычисляем первый квартиль (25-й перцентиль)
median = np.percentile(g_column, 50)# Вычисляем медиану (50-й перцентиль)
q3 = np.percentile(g_column, 75)# Вычисляем третий квартиль (75-й перцентиль)

print("Первый квантиль:", q1)
print("Медиана:", median)
print("Третий квантиль:", q3)

Первый квантиль: 18.96523
Медиана: 21.099835
Третий квантиль: 22.1237675

8. Вычислить (в виде текста) гистограмму какого-либо вещественного признака (с использованием numpy.histogram). Значения гистограммы можно использовать в качестве загрубленного числового признака для заданий (5) или (6).

In [26]:
print("Уникальные значения:")
print(data["cam_col"].unique())
np.histogram(data["cam_col"])

Уникальные значения:
[2 5 3 4 6 1]

(array([13227,     0, 17117,     0, 18851,     0, 19573,     0, 18537,
        12695], dtype=int64),
 array([1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ]))

9. Проитерировать DataFrame построчно .iterrows() и выполнить какую-либо операцию внутри цикла.

In [27]:
data_iter = data.iloc[:30]# берем первые 30 строк
for index, row in data_iter.iterrows():# бежим по первым 30 строкам и суммируем столбцы
    row_sum = row['alpha'] + row['delta']
    print(f"Сумма в строке {index}: {row_sum}")

Сумма в строке 0: 168.1837384433087
Сумма в строке 1: 176.1002854447499
Сумма в строке 2: 177.7712337445036
Сумма в строке 3: 338.3382101785585
Сумма в строке 4: 366.4664588119634
Сумма в строке 5: nan
Сумма в строке 6: nan
Сумма в строке 7: nan
Сумма в строке 8: nan
Сумма в строке 9: nan
Сумма в строке 10: nan
Сумма в строке 11: nan
Сумма в строке 12: 378.4747422529402
Сумма в строке 13: 341.5378320317664
Сумма в строке 14: 344.6321544901262
Сумма в строке 15: 269.9790870417114
Сумма в строке 16: 356.2823183809427
Сумма в строке 17: 4.78613496934573
Сумма в строке 18: 17.59746141659834
Сумма в строке 19: 234.4716044145768
Сумма в строке 20: 239.722874714633
Сумма в строке 21: 191.6117883377833
Сумма в строке 22: 192.2331711582249
Сумма в строке 23: 193.18348907570402
Сумма в строке 24: 268.6509621780049
Сумма в строке 25: 137.44433270666474
Сумма в строке 26: 148.84006983666634
Сумма в строке 27: 145.86579584929552
Сумма в строке 28: 332.93538763846266
Сумма в строке 29: 336.78166219611455

10. Получить DataFrame с MultiIndex любым способом.

In [28]:
data_multi = data.copy()
data_multi["class"] = data_multi["class"].astype('category')
data_multi.set_index(keys=['class', 'alpha'], append=True, inplace=True)# Устанавливаем мультииндекс
data_multi.head(10)

,,,obj_ID,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
,class,alpha,,,,,,,,,,,,,,,,
0,GALAXY,135.689107,1.237661e+18,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171
1,GALAXY,144.826101,1.237665e+18,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427
2,GALAXY,142.188790,1.237661e+18,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,0.644195,4576,55592,299
3,GALAXY,338.741038,1.237663e+18,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775
4,GALAXY,345.282593,1.237680e+18,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,0.116123,6121,56187,842
5,QSO,NaN,1.237680e+18,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741
6,QSO,NaN,1.237679e+18,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,0.586455,11069,58456,113
7,GALAXY,NaN,1.237679e+18,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,0.477009,6183,56210,15
8,GALAXY,NaN,1.237661e+18,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719
9,STAR,NaN,1.237671e+18,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,-0.000008,2444,54082,232

In [29]:
data_multi.swaplevel('alpha', 'class').head(10)# Меняем уровни индекса между "alpha" и "class"

,,,obj_ID,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
,alpha,class,,,,,,,,,,,,,,,,
0,135.689107,GALAXY,1.237661e+18,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171
1,144.826101,GALAXY,1.237665e+18,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427
2,142.188790,GALAXY,1.237661e+18,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,0.644195,4576,55592,299
3,338.741038,GALAXY,1.237663e+18,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775
4,345.282593,GALAXY,1.237680e+18,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,0.116123,6121,56187,842
5,NaN,QSO,1.237680e+18,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741
6,NaN,QSO,1.237679e+18,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,0.586455,11069,58456,113
7,NaN,GALAXY,1.237679e+18,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,0.477009,6183,56210,15
8,NaN,GALAXY,1.237661e+18,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719
9,NaN,STAR,1.237671e+18,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,-0.000008,2444,54082,232

In [30]:
data_multi.transpose().head(10)# транспонируем

,0,1,2,3,4,5,6,7,8,9,...,99990,99991,99992,99993,99994,99995,99996,99997,99998,99999
class,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY,QSO,QSO,GALAXY,GALAXY,STAR,...,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY,GALAXY
alpha,135.689107,144.826101,142.188790,338.741038,345.282593,NaN,NaN,NaN,NaN,NaN,...,143.414774,146.898055,129.862762,0.740551,317.246996,39.620709,29.493819,224.587407,212.268621,196.896053
obj_ID,1.237661e+18,1.237665e+18,1.237661e+18,1.237663e+18,1.237680e+18,1.237680e+18,1.237679e+18,1.237679e+18,1.237661e+18,1.237671e+18,...,1.237665e+18,1.237665e+18,1.237668e+18,1.237653e+18,1.237663e+18,1.237679e+18,1.237679e+18,1.237668e+18,1.237661e+18,1.237661e+18
delta,3.249463e+01,3.127418e+01,3.558244e+01,-4.028276e-01,2.118387e+01,2.058948e+01,1.141819e+01,1.206519e+01,4.719940e+01,2.810284e+01,...,2.673111e+01,2.781809e+01,1.457431e+01,-9.184243e+00,-6.822542e-01,-2.594074e+00,1.979887e+01,1.570071e+01,4.666037e+01,4.946464e+01
u,2.387882e+01,2.477759e+01,2.526307e+01,2.213682e+01,1.943718e+01,2.348827e+01,2.146973e+01,2.224979e+01,2.440286e+01,2.174669e+01,...,2.379655e+01,2.622899e+01,2.582234e+01,2.313172e+01,2.096526e+01,2.216759e+01,2.269118e+01,2.116916e+01,2.535039e+01,2.262171e+01
g,2.227530e+01,2.283188e+01,2.266389e+01,2.377656e+01,1.758028e+01,2.333776e+01,2.117624e+01,2.202172e+01,2.235669e+01,2.003493e+01,...,2.241332e+01,2.184820e+01,2.402722e+01,2.318506e+01,1.981625e+01,2.297586e+01,2.238628e+01,1.926997e+01,2.163757e+01,2.179745e+01
r,2.039501e+01,2.258444e+01,2.060976e+01,2.161162e+01,1.649747e+01,2.132195e+01,2.092829e+01,2.034126e+01,2.061032e+01,1.917553e+01,...,2.036012e+01,2.047138e+01,2.143137e+01,2.152854e+01,1.934186e+01,2.190404e+01,2.045003e+01,1.820428e+01,1.991386e+01,2.060115e+01
i,1.916573e+01,2.116812e+01,1.934857e+01,2.050454e+01,1.597711e+01,2.025615e+01,2.060826e+01,1.948794e+01,1.946490e+01,1.881823e+01,...,1.933964e+01,1.960049e+01,2.013085e+01,2.026975e+01,1.914711e+01,2.130548e+01,1.975759e+01,1.769034e+01,1.907254e+01,2.000959e+01
z,1.879371e+01,2.161427e+01,1.894827e+01,1.925010e+01,1.554461e+01,1.954544e+01,2.042573e+01,1.884999e+01,1.895852e+01,1.865422e+01,...,1.874413e+01,1.894726e+01,1.966464e+01,2.011383e+01,1.905790e+01,2.073569e+01,1.941526e+01,1.735221e+01,1.862482e+01,1.928075e+01
run_ID,3.606000e+03,4.518000e+03,3.606000e+03,4.192000e+03,8.102000e+03,8.102000e+03,7.773000e+03,7.773000e+03,3.716000e+03,5.934000e+03,...,4.569000e+03,4.569000e+03,5.137000e+03,1.740000e+03,4.187000e+03,7.778000e+03,7.917000e+03,5.314000e+03,3.650000e+03,3.650000e+03
rerun_ID,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,...,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02,3.010000e+02
cam_col,2.000000e+00,5.000000e+00,2.000000e+00,3.000000e+00,3.000000e+00,3.000000e+00,2.000000e+00,2.000000e+00,5.000000e+00,4.000000e+00,...,1.000000e+00,1.000000e+00,3.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00

In [31]:
data_multi.droplevel('alpha').head(10)# удаляем индекс

,,obj_ID,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,redshift,plate,MJD,fiber_ID
,class,,,,,,,,,,,,,,,,
0,GALAXY,1.237661e+18,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,0.634794,5812,56354,171
1,GALAXY,1.237665e+18,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,0.779136,10445,58158,427
2,GALAXY,1.237661e+18,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,0.644195,4576,55592,299
3,GALAXY,1.237663e+18,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,0.932346,9149,58039,775
4,GALAXY,1.237680e+18,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,0.116123,6121,56187,842
5,QSO,1.237680e+18,20.589476,23.48827,23.33776,21.32195,20.25615,19.54544,8102,301,3,110,5.658977e+18,1.424659,5026,55855,741
6,QSO,1.237679e+18,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,0.586455,11069,58456,113
7,GALAXY,1.237679e+18,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,0.477009,6183,56210,15
8,GALAXY,1.237661e+18,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,0.660012,6625,56386,719
9,STAR,1.237671e+18,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,-0.000008,2444,54082,232

11. Продемонстировать работу .merge.

In [106]:
new_data = pd.read_csv('star_classification.csv')
data_1 = new_data.iloc[:5]
data_2 = new_data.iloc[6:10]

In [107]:
data_1

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842

In [108]:
data_2

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
6,1.237679e+18,23.234926,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,QSO,0.586455,11069,58456,113
7,1.237679e+18,5.433176,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,GALAXY,0.477009,6183,56210,15
8,1.237661e+18,200.290475,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,GALAXY,0.660012,6625,56386,719
9,1.237671e+18,39.149691,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,STAR,-0.000008,2444,54082,232

In [110]:
pd.merge(data_1, data_2, on='cam_col', how='inner')

,obj_ID_x,alpha_x,delta_x,u_x,g_x,r_x,i_x,z_x,run_ID_x,rerun_ID_x,...,z_y,run_ID_y,rerun_ID_y,field_ID_y,spec_obj_ID_y,class_y,redshift_y,plate_y,MJD_y,fiber_ID_y
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,...,20.42573,7773,301,462,1.246262e+19,QSO,0.586455,11069,58456,113
1,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,...,18.84999,7773,301,346,6.961443e+18,GALAXY,0.477009,6183,56210,15
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,...,20.42573,7773,301,462,1.246262e+19,QSO,0.586455,11069,58456,113
3,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,...,18.84999,7773,301,346,6.961443e+18,GALAXY,0.477009,6183,56210,15
4,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,...,18.95852,3716,301,108,7.459285e+18,GALAXY,0.660012,6625,56386,719

12. Продемонстрировать работу с .concat или append.

In [111]:
pd.concat([data_1, data_2])

,obj_ID,alpha,delta,u,g,r,i,z,run_ID,rerun_ID,cam_col,field_ID,spec_obj_ID,class,redshift,plate,MJD,fiber_ID
0,1.237661e+18,135.689107,32.494632,23.87882,22.27530,20.39501,19.16573,18.79371,3606,301,2,79,6.543777e+18,GALAXY,0.634794,5812,56354,171
1,1.237665e+18,144.826101,31.274185,24.77759,22.83188,22.58444,21.16812,21.61427,4518,301,5,119,1.176014e+19,GALAXY,0.779136,10445,58158,427
2,1.237661e+18,142.188790,35.582444,25.26307,22.66389,20.60976,19.34857,18.94827,3606,301,2,120,5.152200e+18,GALAXY,0.644195,4576,55592,299
3,1.237663e+18,338.741038,-0.402828,22.13682,23.77656,21.61162,20.50454,19.25010,4192,301,3,214,1.030107e+19,GALAXY,0.932346,9149,58039,775
4,1.237680e+18,345.282593,21.183866,19.43718,17.58028,16.49747,15.97711,15.54461,8102,301,3,137,6.891865e+18,GALAXY,0.116123,6121,56187,842
6,1.237679e+18,23.234926,11.418188,21.46973,21.17624,20.92829,20.60826,20.42573,7773,301,2,462,1.246262e+19,QSO,0.586455,11069,58456,113
7,1.237679e+18,5.433176,12.065186,22.24979,22.02172,20.34126,19.48794,18.84999,7773,301,2,346,6.961443e+18,GALAXY,0.477009,6183,56210,15
8,1.237661e+18,200.290475,47.199402,24.40286,22.35669,20.61032,19.46490,18.95852,3716,301,5,108,7.459285e+18,GALAXY,0.660012,6625,56386,719
9,1.237671e+18,39.149691,28.102842,21.74669,20.03493,19.17553,18.81823,18.65422,5934,301,4,122,2.751763e+18,STAR,-0.000008,2444,54082,232